* {
  font-family: Cursive ;
}

.main-page-body{
  overflow: scroll;
}
/* Set left navigation style */
.leftnavDiv{
  width:250px;
  height: 900px;
  margin-left: 10px;
  font-size: 40px;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  border-right: 2px solid gray;
}
/* Set twitter logo style */
.logo{
  width:60px;
  height: 60px;
  border-radius: 70px !important;
  margin-left: 40px;
}
.logo i{
  font-size: 45px;
}

.leftnavDiv a{
  font-size: 16px;
}

.leftnavDiv ul{
  list-style-type:none;
}

.leftnavDiv button{
 background-color: transparent;
 color: black;
 padding: 8px 8px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border:none;
 border-radius: 15px;
}
.leftnavDiv button:hover{
  background-color: #ccdcff;
  color: #4d85ff;
  transition: 0.2s;
}
/* Set tweet button style */
.tweetButton{
  background-color: #1aa3ff !important;
  color:white !important;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
}

.tweetButton:hover{
  background-color: #008ae6 !important;
  color: white !important;
  transition: 0.2s;
}
/* Set profile button style */
.profileButton{
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  margin-left: 30px !important;
}

.profileButton:hover{
  background-color: lightGray !important;
  transition: 0.2s;
}
/* Set feed and newly tweeted div style */
.feed{
  padding-top: 0px;
  color:black;
  margin : -10px 0px;
  margin-left: 260px;
  display: block;
  border-right: 1px solid gray;
  width: 700px;
  height: 900px;
  position: fixed;
}
.feed p{
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 1px solid gray;
}
/* Set tweet box style */
.tweetBox{
  width: 620px;
  height: 100px;
  margin-left: 30px;
}
/* Set text color to white */
.tweetText{
  width: 620px;
  height: 100px;
  background-color: transparent !important;
  border:1px solid transparent;
  border-bottom: 1px solid lightGray;
  margin-left: 30px
}

.tweetText:focus{
  outline: none;
}

.tweeted{
  padding: 8px !important;
  border-radius: 15px;
  margin-left: 580px !important;
  margin-top: 15px;
  border: 1px solid transparent;
}

.right-nav-div{
  width: 390px;
  height: 900px;
  margin-left: 1010px;
  position: fixed;
  overflow: visible;
}

.searchButton{
  background-color: #e6e6e6;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
  border:none;
  border-radius: 20px;
  width: 325px;
  height: 20px;
  margin-left:-30px;
}

.searchText{
  width: 325px;
  height: 20px;
  border-radius: 20px;
  padding top:5px;
  background-color: transparent;
  border:1px solid transparent;

}

.searchText:focus{
  outline:none;
}

.topics-follow{
  border:1px solid transparent;
  background-color: #f2f2f2;
  width: 350px;
  height: 400px;
  margin-left:-30px;
  border-radius: 20px;
}

.topics-follow p{
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 15px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 0px !important;
}

.topics-follow ul{
  list-style-type:none;
}
/* Set tweet box */
.one-tweet-box{
  width: 600;
  height: 100px;
  border: 1px solid black ;

}

.imgStyle{
  width: 40px;
  height: 40px;
  border-radius: 15px;
  padding: 4px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.one-tweet-box h1{
  font-size:20px;
}
