.leftnavDiv{
  width:300px;
  height: 900px;
  margin-left: 10px;
  font-size: 40px;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  border-right: 2px solid gray;
}
.logo{
  width:60px;
  height: 60px;
  border-radius: 70px !important;
  margin-left: 40px;
}
.logo:hover{
  background-color: lightblue !important;
}
.logo i{
  font-size: 45px;
}

.leftnavDiv a{
  font-size: 16px;
}

.leftnavDiv ul{
  list-style-type:none;
}

.leftnavDiv button{
 background-color: transparent;
 color: black;
 padding: 10px 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border:none;
 border-radius: 15px;
}
.leftnavDiv button:hover{
  background-color: lightGray;
  color: white;
  transition: 0.2s;
}

.tweetButton{
  background-color: blue !important;
  color:white !important;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bolder;
  margin-left: 30px !important;
}

.tweetButton:hover{
  background-color: darkBlue !important;
  color: white !important;
  transition: 0.2s;
}

.profileButton{
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  margin-left: 30px !important;

}

.profileButton:hover{
  background-color: lightGray !important;
  transition: 0.2s;
}

.feed{
  padding-top: 0px;
  color:black;
  margin : -10px 0px;
  margin-left: 305px;
  display: block;
  border-right: 1px solid gray;
  width: 700px;
  height: 900px;
  position: fixed;
  overflow-y: scroll;
}
.feed p{
  font-weight: bolder;
  font-size: 30px;
  border-bottom: 1px solid gray;
}
.tweetBox{
  width: 620px;
  height: 100px;
  margin-left: 30px;


}
.tweetText{
  width: 620px;
  height: 100px;
  border-bottom: 1px solid lightGray ;
  padding top:5px;
  border:1px solid transparent;
  border-bottom: 1px solid lightGray;
}

.tweetText:focus{
  outline: none;
}

.tweeted{
  padding: 8px !important;
  border-radius: 15px;
  margin-left: 580px !important;
  margin-top: 15px;
}

.right-nav-div{
  width: 280px;
  height: 900px;
  margin-left: 1010px;
  position: fixed;
}

.searchButton{
  background-color: lightGray;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
  border:none;
  border-radius: 20px;
  width:280px;
  height: 20px;
}

.searchText{
  width: 280px;
  height: 20px;
  border-radius: 20px;
  padding top:5px;
  background-color: transparent;
  border:1px solid transparent;

}

.searchText:focus{
  outline:none;
}

.topics-follow{
  border:1px solid transparent;
  background-color: lightGray;
  width: 300px;
  height: 400px;
  margin-left: 20px;
  border-radius: 20px;
}

.topics-follow p{
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 1px solid Gray;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 0px !important;
}

.topics-follow ul{
  list-style-type:none;
}
