.clear{
  clear: both;
}





.profile{
  color:black;
  margin : -10px 0px;
  margin-left: 260px;
  display: block;
  border-right: 1px solid gray;
  width: 700px;
  height: 900px;
  position: fixed;
  overflow-y: scroll;
}

.profile h1{
  font-size: 20px;
  margin-left: 10px;
}

.profile p{
  font-size: 15px;
  font-weight: lighter;
  padding-left: 10px;
  color: gray;
  border-bottom: 1px solid #e6e6e6;
  margin-top: -10px;
  padding-bottom: 10px;
}

.banner-ımg{
    width: 700px;
    height: 150px;
    margin-top: -13px;

}

.profileImg{
  width: 150px !important;
  height: 150px !important;
  border-radius: 100px;
  margin-top: -70px ;
  margin-left: 20px;
  border: 5px solid white;
  display:inline;
}

.edit-profile-button{
  font-size: 15px;
  width: 120px;
  height: 30px;
  padding: 5px !important;
  font-weight: bolder;
  border-radius: 10px;
  border:1px solid #008ae6;
  color: #008ae6;
  background-color: white;
  margin-left: 550px;
  display:inline;
}
