.all-settings{
  width: 800px;
  height: 900px;
  position: fixed;
  margin-left: 260px;
}

.settings{
  color:black;
  display: inline;
  border-right: 1px solid #e6e6e6;
  width: 400px;
  height: 900px;
  position: fixed;
}


.settings h1{
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 10px;
}

.profile-settings-button{
  border-bottom:1px solid #e6e6e6;
  font-size: 15px;
  font-weight: lighter;
  margin-top:-10px;
  padding: 10px 10px;
  color: gray;
}
.profile-settings{
  color:black;
  display: block;
  margin-left: 400px;
  border-right: 1px solid #e6e6e6;
  width: 400px;
  height: 900px;
}

.profile-settings h1{
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 10px;
}

.profile-settings p{
  font-size: 15px;
  padding-left:20px;
  font-weight:bolder;
}

.profile-photo-settings{
  width: 380px;
  height: 30px;
  border:1px solid #e6e6e6;
  margin-left: 10px;
}

.profile-bio-settings{
  width: 380px;
  height: 100px;
  border:1px solid #e6e6e6;
  margin-left: 10px;
}
