
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Anasayfa/Twitter</title>
  <link rel="stylesheet" href="../static/homeapp.css">
  <meta charset="utf-8">
</head>

<div class="leftnavDiv">
  <ul>
      <p >Main Page</p>
      <li><button>Discover</button></li>
      <li><button>Notifications</button></li>
      <li><button>Messages</button></li>
      <li><button>Profile</button></li>
      <li><button>Much more</button></li>
    </ul>

<button class="tweetButton" onclick="tweet()">Tweetle</button>

<form action="https://www.w3docs.com/">
         <button class="profileButton">profile</button>
      </form>

</div>


</html>
