<!DOCTYPE html>
<html lang="en">

<head>
  <title>Awitter</title>
  <link rel="stylesheet" href="../static/homeapp.css">
  <link rel="stylesheet" href="../static/profile.css">
  <meta charset="utf-8">

  <!-- FONT AWSOME -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body class="main-page-body">
  <!-- Left navigation div class -->
  <div class="leftnavDiv">
    <!-- buttons on the right that provide accessibility to the desired places  -->
    <ul>
      <li><button class="logo"><i class="fa fa-twitter "></i></button></li>
      <li><button style="font-weight: bold"><i class="fa fa-home"></i> Main Page</button></li>
      <li><button><i class="fa fa-hashtag"></i> Discover</button></li>
      <li><button><i class="fa fa-bell"></i> Notifications</button></li>
      <li><button><i class="fa fa-envelope"></i> Messages</button></li>
      <li><button><i class="fa fa-user"></i> Profile</button></li>
      <li><button><i class="fa fa-ellipsis-h"></i> More</button></li>
      <li><button class="tweetButton">Tweetle</button></li>
    </ul>
    <!-- button for go to profile -->
    <form action="https://www.w3docs.com/">
      <button class="profileButton">profile</button>
    </form>
  </div>

  <!-- feed and newly tweeted div -->
  <div class="profile">
    <h1>Elon Musk</h1>
    <p>11 Tweets</p>
    <img src="../branding/background.jpg" class="banner-ımg">
    <img src="../branding/background.jpg" class="profileImg">

    <div class="clear"></div>

    <button class="edit-profile-button">Edit Profile</button>

  </div>


  <!-- search and topics div-->
  <div class="right-nav-div">
    <form class="searchButton">
      <input type="text" placeholder="Search Awitter" class="searchText" name="search"><br><br>
    </form>

    <!--topic table-->
    <div class="topics-follow">
      <p>Topics to Follow</p>

      <a href="#">hh</a>
      <a href="#">aa</a>
      <a href="#">bb</a>
      <a href="#">vv</a>
      <a href="#">dd</a>

    </div>

  </div>

</body>

</html>
