<!DOCTYPE html>
<html lang="en">

<head>
  <title>Awitter</title>
  <link rel="stylesheet" href="../static/homeapp.css">
  <link rel="stylesheet" href="../static/settings.css">
  <meta charset="utf-8">

  <!-- FONT AWSOME -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body class="main-page-body">
  <!-- Left navigation div class -->
  <div class="leftnavDiv">
    <!-- buttons on the right that provide accessibility to the desired places  -->
    <ul>
      <li><button class="logo"><i class="fa fa-twitter "></i></button></li>
      <li><button style="font-weight: bold"><i class="fa fa-home"></i> Main Page</button></li>
      <li><button><i class="fa fa-hashtag"></i> Discover</button></li>
      <li><button><i class="fa fa-bell"></i> Notifications</button></li>
      <li><button><i class="fa fa-user"></i> Profile</button></li>
      <li><button><i class="fa fa-ellipsis-h"></i> More</button></li>
      <li><button class="tweetButton">Tweetle</button></li>
    </ul>
  </div>

  <!-- feed and newly tweeted div -->
  <div class="all-settings">


    <div class="settings">
      <h1>Settings</h1>
      <p class="profile-settings-button">Profile Settings <i class="fa fa-chevron-right"></i></p>
    </div>
    <div class="profile-settings">
      <h1>Profile Settings</h1>
      <p>Profile Photo</p>
      <div class="profile-photo-settings">
      </div>
      <p>Banner Photo</p>
      <div class="profile-photo-settings">
      </div>
      <p>Full Name</p>
      <div class="profile-photo-settings">
      </div>
      <p>Bio</p>
      <div class="profile-bio-settings">

      </div>
    </div>
  </div>


</body>

</html>
